{{ define "main" }}
  <h1 class="visually-hidden">{{ .Title }}</h1>
  {{/*  get the featured image  */}}
  <div class="full-page-image h-100">
    {{ with .Params.image }}
      <img src="{{ . }}" alt="{{ $.Title }}" class="img-fluid">
    {{ end }}
  </div>
  <div class="fixed-bottom d-flex justify-content-end pb-3 px-3">
    {{/* Get the sound file */}}
    {{ with .Params.sound }}
      <div class="audio-player w-100">
        <audio controls autoplay>
          <source src="{{ . }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    {{ end }}
    <div class="audio-player w-100">
      <audio class="w-100" controls autoplay>
        <source src="{{ . }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  
  {{/*  {{ .Content }}  */}}
{{ end }}
