{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

<nav class="d-flex justify-content-end fixed-top end-0">
  <ul class="nav flex-column ml-auto py-3">
    {{ range .Site.RegularPages }}
      {{ if eq .Section "posts" }}
        <li class="nav-item">
          <a 
            class="nav-link text-end {{ if eq .Permalink $.Permalink }}active{{ end }}" 
            href="{{ .RelPermalink }}"
          >
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>